body{
  margin: 0;
  padding:0;
  background-image: url("../images/background.png");
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}
.RegisterBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 520px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
}
.user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);

}
h2, h3, h4, h5{
  color: white;
  text-align: center;
}
.RegisterBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}
.RegisterBox input{
  width: 100%;
  margin-bottom: 20px;
}
.RegisterBox input[type="text"],
.RegisterBox input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
::placeholder
{
  color: rgba(255,255,255,.5);
}
.RegisterBox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: red;
  cursor: pointer;
  border-radius: 20px;
}

.RegisterBox input[type="submit"]:hover
{
  background: #efed40;
  color: #262626;
}
.RegisterBox a
{
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
